.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1% 10%;
  font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  color: white;
  flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);
}

.top-header .left,
.top-header .right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.email {
  white-space: nowrap;
}

.toggle-btn {
  display: none;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 600px) {
  .top-header {
    flex-direction: column;
    padding: 25px 20px;
    gap: 10px;
    align-items: center;
  }

  .toggle-btn {
    display: flex;
  }

  .left,
  .right {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .left.show,
  .right.show {
    display: flex;
  }
}
