body{
  overflow-x: hidden;
}
.team-section {
  position: relative;
  background-image: url('/assets/doctors/3.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;

  display: flex;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.team-content {
  max-width: 550px;
  z-index: 2;
    margin-left: 9%;
    margin-top: 70px;
}

.team-content h1 {
   font-size: 44px;
    line-height: 50px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

.team-content p {
color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
  margin-top: 20px;
  margin-bottom: 45px;
  line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

.team-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
      color: #3065b5;
  padding: 2px 20px;
  text-decoration: none;
 font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 42px;
}

.team-btn:hover {
  background-color: #f0f0f0;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .team-content h1 {
    font-size: 2rem;
  }

  .team-content p {
    font-size: 1rem;
  }

  .team-section {
    padding: 60px 15px;
    text-align: center;
    justify-content: center;
  }
}
