.tech-container {
  padding: 40px 13%;
 text-align: center;
  user-select: none;
}

.tech-heading {
  color: #0073c6;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.tech-subtext {
  color: #333;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.tech-row-container {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 10px 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  max-width: 100%;
  scroll-behavior: smooth;
  cursor: grab;
}

.tech-row-container::-webkit-scrollbar {
  display: none;
}

.tech-logo {
  height: 60px;
  flex-shrink: 0;
  pointer-events: none;
  user-select: none;
}

.dragging {
  cursor: grabbing;
}
@media (max-width: 768px) {
  .tech-container {
    padding: 30px 5%;
    text-align: center;
  }

  .tech-heading {
    font-size: 1.25rem;
  }

  .tech-subtext {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
  }

  .tech-row-container {
    gap: 20px;
    padding: 8px 0;
  }

  .tech-logo {
    height: 50px;
  }
}
